/* css for editor */

html, body {
	height:100%;
}
#editor-box {


	display:inline-block;
	position:relative;

}
#editor {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:auto;
	cursor:text;

}
#editor-card, #editor-card-wrapper, #chat-card, #chat-card-wrapper {
	height: 100%;

}
.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.split, .gutter.gutter-horizontal {
	float: left;
}


#split-wrapper {

	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height: calc(100% - 56px);

}
.gutter.gutter-horizontal {
	cursor: ew-resize;
}
.gutter.gutter-vertical {
	cursor: ns-resize;
}
.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

.userlist-color-indicator {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-right:10px;
}
.userlist-username {
	display:inline-block;
	height: 33px;
	line-height:33px;
	vertical-align: middle;

	padding-left:10px;

}
.userlist-li {
	display:inline-block;
	margin-right:7px;
	margin-left:7px;
}
#userlist {
	list-style:none;
	padding:0;
	margin:0;

}

#userlist-currentuser-inputgroup, #userlist-currentuser-input, #userlist-currentuser-input-confirm {
	height:32px;
}
#userlist-currentuser-input-confirm {
	text-align: center;
}
#userlist-currentuser-input, #userlist-currentuser-input-confirm {
	/* Box Shadow doesn't look good with the other css */
	outline: none;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.userlist-wrapper {
	margin: 0 auto;
}

.userlist-color-indicator, .userlist-username {
	float: left;
}


#settings-modal .modal-header {
	border-bottom: 1px solid #ced4da;
}
#settings-modal .modal-footer {
	border-top: 1px solid #ced4da;
}

/* Sorry, Firepad! */
.powered-by-firepad {
	display:none;
}
