label {
	font-weight:bold;
}

#nav-file-id-btn {
	display:none;
}

header.masthead,
.call-to-action {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#nav-file-id {
	width:300px;
}
#nav-file-id::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

#nav-file-id:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

#nav-file-id::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}

#nav-file-id {
	width:300px;

	background-color:#6c757d;
	opacity:0.7;
}

#nav-file-id:not(:placeholder-shown),
#nav-file-id:focus{
	width:240px;
	background-color:#f1f2f3;
	opacity:1;
}

#nav-file-id {
	width:300px;
}
#nav-file-id:not(:placeholder-shown)::placeholder,
#nav-file-id:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}

#nav-file-id:not(:placeholder-shown):-ms-input-placeholder,
#nav-file-id:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
}

#nav-file-id:not(:placeholder-shown)::-ms-input-placeholder,
#nav-file-id:focus::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
}

#nav-file-id:not(:placeholder-shown) ~ #nav-file-id-btn,
#nav-file-id:focus ~ #nav-file-id-btn {
	display:inline;
	margin-left:5px;
	width:55px;


}

/* input-dark */
.input-dark {
	background-color: #a1a1a1;
	color:#EEEEEE;
	border: 1px solid #414345;
}
.input-dark:focus {
	background-color: #a1a1a1;
	color:#EEEEEE;
	border-color: #414345;
}
.input-dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

.input-dark:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

.input-dark::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}

/* loader: http://tobiasahlin.com/spinkit/ */
.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}


.hidden {
	display:none !important;
}
.invisible {
	visibility:hidden !important;
}
